<% content_for :meta_title, "LSA PARIS - Conseil Contentieux Médiation Arbitrage - L'Equipe LSA" %>
<% content_for :meta_description, "RODOLPHE : description Réseaux Sociaux pour la page Equipe" %>
<%# Si tu ne veut pas faire une description spécifique, enlève la ligne ci-dessus %>
<%# Et ça sera la meta_description de config/meta.yml qui sera prise en compte %>

<h1>L'équipe LSA</h1>
