<% content_for :meta_title, "Nous sommes désolés, mais un problème est survenu (500)" %>
<% content_for :meta_description, "Nous sommes désolés, mais un problème est survenu." %>

<h1>Erreur 500</h1>
<h2>Nous sommes désolés, mais un problème est survenu.</h2>
<p>Si le problème se répète, veuillez <%= link_to "contacter le propriétaire du site", contact_path %>. </p>
<button><a href="/" class="text-decoration-none">Retournez à la page d'accueil</a></button>
