<% content_for :meta_title, "La page que vous cherchez n'existe pas (404)" %>
<% content_for :meta_description, "Il se peut que vous ayez mal saisi l'adresse ou que la page ait été déplacée." %>

<h1>Erreur 404</h1>
<h2>La page que vous recherchez n'existe pas.</h2>
<p>Il se peut que vous ayez mal saisi l'adresse ou que la page ait été déplacée.</p>
<button><a href="/" class="text-decoration-none">Retournez à la page d'accueil</a></button>
